body {
	background-color: #DADADA;
}
#chat_window {
	min-height: 300px;
	max-height: 300px;
	overflow-y: auto;
}
#comm_window {
	min-height: 200px;
	max-height: 200px;
	overflow-y: auto;
}
#contacts_window {
	min-height: 150px;
	max-height: 150px;
	overflow-y: auto;
}
#approve_window {
	min-height: 150px;
	max-height: 150px;
	overflow-y: auto;
}
ul.window {
	margin: 5px;
	list-style: none;
}
ul.window li {
	min-height: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
.mainmenu .span16 {
}
.mmheader .span2 {
    height: 40px;
    text-align: center;
}
#menu {
    background: -moz-linear-gradient(center top , #555555, #222222) repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px #EDF9FF inset;
    height: 43px;
    list-style: none outside none;
    margin: 0 0 0 auto;
    padding: 0 20px;
    z-index: 1000;
}
#menu li {
    border: medium none;
    display: inline;
    float: left;
    margin-right: 2px;
    margin-top: 7px;
    padding: 4px 10px;
    position: relative;
    text-align: center;
}
#menu li:hover {
    background: -moz-linear-gradient(center top , #F4F4F4, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #777777;
    border-radius: 5px 5px 0 0;
    padding: 4px 9px;
}
#menu li a {
    color: #FFFFFF;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}
#menu li:hover a {
    color: #161616;
}
#menu li .drop {
    padding-right: 5px;
}
#menu li:hover .drop {
}
.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #EEEEEE, #BBBBBB) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color #777777 #777777;
    border-radius: 0 5px 5px 5px;
    border-right: 1px solid #777777;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    float: left;
    left: -999em;
    margin: 4px auto;
    padding: 10px 5px;
    position: absolute;
    text-align: left;
    z-index: 998;
}
.dropdown_1column {
    width: 140px;
}
.dropdown_2columns {
    width: 280px;
}
.dropdown_3columns {
    width: 420px;
}
.dropdown_4columns {
    width: 560px;
}
.dropdown_5columns {
    width: 700px;
}
#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
    left: -1px;
    top: auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    z-index: 999;
}
.col_1 {
    width: 130px;
}
.col_2 {
    width: 270px;
}
.col_3 {
    width: 410px;
}
.col_4 {
    width: 550px;
}
.col_5 {
    width: 690px;
}
#menu .menu_right {
    float: right;
    margin-right: 0;
}
#menu li .align_right {
    border-radius: 5px 0 5px 5px;
}
#menu li:hover .align_right {
    left: auto;
    right: -1px;
    top: auto;
}
#menu p, #menu h2, #menu h3, #menu ul li {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 21px;
    text-align: left;
}
#menu h2 {
    border-bottom: 1px solid #666666;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 7px 0 14px;
    padding-bottom: 14px;
}
#menu h3 {
    border-bottom: 1px solid #888888;
    font-size: 14px;
    margin: 7px 0 14px;
    padding-bottom: 7px;
}
#menu p {
    line-height: 18px;
    margin: 0 0 10px;
}
#menu li:hover div a {
    color: #FFFFFF;
    font-size: 12px;
}
#menu li:hover div a:hover {
    color: #E00118;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.imgshadow {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    box-shadow: 0 0 5px #666666;
    margin-top: 5px;
    padding: 4px;
}
.img_left {
    float: left;
    margin: 5px 15px 5px 5px;
    width: auto;
}
#menu li .black_box {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #000000 inset;
    color: #EEEEEE;
    padding: 4px 6px;
    text-shadow: 1px 1px 1px #000000;
}
#menu li ul {
    list-style: none outside none;
    margin: 0 0 12px;
    padding: 0;
}
#menu li ul li {
    float: none;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 130px;
}
#menu li ul li:hover {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}
#menu li .greybox li {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 4px;
    padding: 4px 6px;
    width: 85px;
}
#menu li .greybox li:hover {
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #AAAAAA;
    margin: 0 0 4px;
    padding: 4px 6px;
}
#menu li:hover .greybox a {
    color: #FFFFFF;
    text-transform: capitalize;
}
#menu li:hover .greybox a:hover {
    color: #FFFFFF;
}
.nobox {
    padding: 5px;
}
#menu li .nobox li {
    display: block;
    margin: 0 0 4px;
}
#menu li .nobox li:hover {
    margin: 0 0 4px;
}
#menu li:hover .nobox a {
    color: #333333;
    font-size: 12px;
    text-transform: capitalize;
}
#menu li:hover .nobox a:hover {
    color: #E00118;
}
#footer-wrapper {
    margin: 0 0 80px;
}
#footer-wrapper .top {
    background: url("http://www.sportskeeda.com/wp-content/themes/custom/images/big.png") no-repeat scroll 0 -628px transparent;
    height: 3px;
    width: 960px;
}
#footer-wrapper .bottom {
    background: url("http://www.sportskeeda.com/wp-content/themes/custom/images/big.png") no-repeat scroll 0 -614px transparent;
    height: 4px;
    width: 960px;
}
#footer {
    background: url("http://www.sportskeeda.com/wp-content/themes/custom/images/footer-bg.png") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    font-size: 0.75em;
}
#footer .inner {
    padding: 20px 30px 10px;
}
#footer .left {
    float: left;
    width: 280px;
}
#footer .middle {
    float: left;
    margin-left: 30px;
    width: 280px;
}
#footer .right {
    float: left;
    margin-left: 30px;
    width: 280px;
}
#footer h2 {
    border-bottom: 1px solid #181818;
    font-size: 1.3em;
    margin: 0;
    padding: 2px 0 15px;
    text-transform: uppercase;
}
#footer .line {
    border-top: 1px solid #4C4C4C;
    display: block;
    height: 1px;
    margin-bottom: 15px;
}
#footer p {
    line-height: 1.7em;
}
#footer .copyright {
    background: none repeat scroll 0 0 #202122;
    border-top: 1px solid #000000;
    color: #888888;
    font-size: 0.9em;
    padding: 10px 30px 8px;
}
#footer .widget {
    padding: 0 0 15px;
}
#footer .widget ul {
    margin: 10px 0 10px 15px;
}
#footer .widget ul li {
    margin: 5px 0;
}
#footer .widget table#wp-calendar td {
    padding: 5px;
    text-align: center;
}
#footer .widget table#wp-calendar th {
}
#footer .widget table#wp-calendar caption {
    color: #999999;
    margin-top: 10px;
}
#footer a.topofpage {
    background: url("http://www.sportskeeda.com/wp-content/themes/custom/images/big.png") no-repeat scroll 0 -641px transparent;
    display: block;
    float: right;
    height: 35px;
    width: 26px;
}
#footer .widget ul.flickr-thumbs li.first {
    display: none;
}
#footer .recent-reactions {
    font-size: 1.4em;
    margin-bottom: 20px;
}
#footer .recent-reactions .content {
    height: 385px;
    overflow: hidden;
    padding: 15px 20px 20px;
}
#footer .recent-reactions .comment-wrapper {
    margin-bottom: 18px;
}
#footer .recent-reactions a.comment {
    background: none repeat scroll 0 0 #43464D;
    border: 1px solid #565C63;
    color: #D4D4D4;
    display: block;
    font-size: 0.7em;
    height: 50px;
    line-height: 1.4em;
    overflow: hidden;
    padding: 8px 5px 7px 8px;
}
#footer .recent-reactions a.comment:hover {
    border: 1px solid #636A72;
    color: #FFFFFF;
}
#footer .recent-reactions a.author {
    background: url("http://www.sportskeeda.com/wp-content/themes/custom/images/big.png") no-repeat scroll 0 -1625px transparent;
    color: #999999;
    display: block;
    font-size: 0.7em;
    margin-top: -1px;
    padding: 3px 0 0 29px;
    position: relative;
    z-index: 10;
}