body {
	background-color: #DADADA;
}
#chat_window {
	min-height: 300px;
	max-height: 300px;
}
#comm_window {
	min-height: 200px;
	max-height: 200px;
}
#contacts_window {
	min-height: 150px;
	max-height: 150px
}
#approve_window {
	min-height: 150px;
	max-height: 150px;
}
